.App {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: black;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list{
  width: 60vw;
  display: flex;
  justify-content: space-around;
}

.list-div{
  width: 50vw;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 5px;
}